<!-- Prueba CSS/BEM/SCSS -->

<!-- 1. Crear una lista ordenada con 3 elementos, su contenido debe ser de texto inicialmente -->
<!-- 2. Establecer una arquitectura BEM y SCSS -->
<!-- 3. Modificar el primer elemento para colocar un input de tipo texto, este debe tener los bordes redondeados -->
<!-- 4. Modificar el segundo elemento para cambiar su color de fondo (modifier - danger - BEM) -->

<ol class="lista">
  <li class="lista__elemento1">
    <input class="lista__elemento1-input" type="text" />
  </li>
  <li class="lista__elemento2">
    <p class="lista__elemento2--danger">Texto 2</p>
  </li>
  <li class="lista__elemento3">Texto 3</li>
</ol>
