<!-- Prueba CSS -->

<!-- TEMA MODELO EN CAJA -->
<!-- 1. que es el modelo en caja? -->
<!-- 1.1 apartir de este modelo enunciar del elemento mas interno al exterior -->

<!-- POSITIONS  -->
<!-- 2. Que hace position: absolute -->
<!-- 2.1 si se descomenta del element con class="container-prueba-css__internal-square" el atributo (right: 0px) el elemento en donde quedaria? por que?-->

<!-- ESPECIFICIDAD -->
<!-- 3. ir al archivo css y responder las pregunta -->

<!--  PSEUDO CLASES -->
<!-- 4. que es una pseudo clase, realice un ejemplo de esta -->

<!-- PSEUDO ELEMENTOS -->
<!-- 5. que es una pseudo elemento, realice un ejemplo de esta -->

<!-- COMBINATOR/OPERADORES -->
<!-- 6. que es un combinator -->
<!-- 6.1 para que sirve cada uno?

  *
  >
  +
  ~

-->

<!-- MEDIA QUERIES -->
<!-- 7. que es un una media querie y para que se usa -->
<!-- 7.1 Implemente una -->

<div
  id="id-container-prueba-css"
  class="container-prueba-css"
  style="
              border-radius:10px;
              position:relative;
              background-image: radial-gradient(circle at 50% -20.71%, #f18920 0, #f2821f 25%, #f37b1f 50%, #f47420 75%, #f56c21 100%);         
              width:100px;
              height:100px;
            "
>
  <span
    class="container-prueba-css__internal-square"
    style="
              border-radius:10px;
              /* right:0px; */
              position:absolute;
              width:50px;
              height:50px;"
  >
  </span>
</div>
